/Platforms/Windows/.vs
/DataTree.xml
/Editor.exe
/Editor.pdb
/Editor_dbg.exe
/Editor_dbg.ilk
/Editor_dbg.pdb
/Editor_fast_dbg.exe
/Editor_fast_dbg.ilk
/Editor_fast_dbg.pdb
/log.txt
/Platforms/Windows/Temp
/Platforms/Windows/Tmp
/Platforms/Windows/log.txt
/Platforms/Windows/App.vcxproj.user
/Platforms/Windows/DataTree.xml
/Platforms/Windows/EditorApp.vcxproj.user
/AssetsTree.xml
/Platforms/Windows/BuiltAssets.xml
/Platforms/Windows/GameEditorLib.vcxproj.user
/Platforms/Windows/GameLib.vcxproj.user
/.vs
/Sources/Editor/CodeToolCache.xml
/Sources/Game/CodeToolCache.xml
/Platforms/Windows/x64/Debug/Tests.pdb
/Tests.pdb
/Tests_dbg.ilk
/Tests_dbg.pdb
/Tests_fast_dbg.ilk
/Tests_fast_dbg.pdb
/Tests_fast_dbg.exe
*.DS_Store
XCBuildData
Platforms/Mac/build
Platforms/Mac/Game.xcodeproj/xcuserdata/playrix.xcuserdatad
Platforms/Mac/Game.xcodeproj/xcuserdata
Bin/Win/Editor.pdb
Bin/Win/Editor_dbg.pdb
Bin/Win/Editor_fast_dbg.pdb
Bin/Win/Editor_fast_dbg.exe
Bin/Win/Editor_dbg.exe
build
Bin/Windows/log.txt
*.pdb
